.container-choose-astrol{
    max-width: 940px;
}

.seo-description-section .seo-description p {
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.why_astrology-cl{
    display: inline-block;
}

.why_astrology-cl .why_astrology .container-choose-astrol .heading_seo_content_headline_chinese_horoscope{
    padding-top: 20px;
    font-size: 26px;
    font-weight: 600;
    font-family: Poppins,sans-serif;
}
.why_astrology-cl .why_astrology .container-choose-astrol .subheading_why_astrology{
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins,sans-serif;
}
// faqs_about_astrology