.faqs_about_astrology-cl{
    max-width: 940px;
    display: inline-block;

}

.faq-description-section .faq-description p {
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.faqs_about_astrology-cl .faqs_about_astrology .container-faqs-astrol .heading_faqs_about_astrology{
    padding-top: 20px;
    font-size: 26px;
    font-weight: 600;
    font-family: Poppins,sans-serif;
}
.faqs_about_astrology-cl .faqs_about_astrology .container-faqs-astrol .subheading_faqs_about_astrology{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins,sans-serif;
}