.palace-paradise-title {
  background-color: #b67fe9;
  height: 150px;
  max-width: 100%;
  font-size: 30px;
}
.palace-paradise-title h1 {
  font-size: 50px;
  padding-top: 40px;

}

.vc_row{
    max-width: 1040px;
    display: inline-block;
}

.wp-image-25803 {
height: 500px;
width: auto;
}
