.policy-card {
  @include flex(center, flex-start);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 0;
  box-shadow: $box-shadow;
  transition: transform 0.5s ease;
  border-radius: 5px;
  display: block;


  &:hover {
    transform: translateY(-20px);
  }

  &__icon {
    @include flex(center, center);
    width: 40%;
    color: $main-color;

    i {
      font-size: 3rem;
    }
  }

  &__info {
    &__name {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &__description {
      font-size: 1rem;
      color: $txt-second-color;
    }
  }
}

.policy-card__icon{
  display: inline-flex;
  border-radius: 50%;
  height: 70px;
  width: 70px;  
}
.policy-card__icon i{
  font-size: 60px;
}

.container-policy-card{
  max-width: 95%;
  margin: 0 auto;

}

.policy-card__info__name{
  font-size: 20px;
}