.section {
    margin-bottom: 80px;
    max-width: 90%;

    & > * ~ * {
        margin-top: 70px;
    }

    &__title {
        font-size: 2rem;
        text-transform: capitalize;
        text-align: center;
    }
    
   margin: 0 auto;
   max-height: 400px;

}
